<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.dmaa0915_2Sem_4ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0915_2Sem_4;Persist Security Info=True;User ID=dmaa0915_2Sem_4;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApplication1.Properties.Settings.dmaa0215_2Sem_4ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0215_2Sem_4;User ID=dmaa0215_2Sem_4;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>