<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_Acess.Properties.Settings.dmaa0215_2Sem_4ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0215_2Sem_4;User ID=dmaa0215_2Sem_4;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
        <add name="Data_Acess.Properties.Settings.dmaa0215_2Sem_4ConnectionString1"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0215_2Sem_4;Persist Security Info=True;User ID=dmaa0215_2Sem_4"
            providerName="System.Data.SqlClient" />
        <add name="Data_Acess.Properties.Settings.dmaa0215_2Sem_4ConnectionString2"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0215_2Sem_4;Persist Security Info=True;User ID=dmaa0215_2Sem_4;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>